* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font */
  --font-primary:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;

  /* background colors */
  --bg-main: #0d1117;

  /* text colors */
  --text-heading: #c3d0d8;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

.code-language {
  display: flex;
  padding-block: 50px;
  justify-content: space-between;
  font-family: var(--font-primary);
  color: var(--text-heading);
}

.language-content {
  max-width: 450px;
}

.language-type {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.language {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 100px;
}

.language-img {
  max-width: 42px;
}

.language-text {
  font-weight: 500;
}

.language-type-text {
  color: var(--text-heading);
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .language-content {
    max-width: 600px;
  }

  .code-language {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  
}


@media (max-width: 500px) {
  .code-language {
    padding-inline: 20px;
  }

  .language {
    margin-right: 20px;
  }
}