@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-button: #A6A6AE;
  --bg-footer: #F9F9F9;
  --label-text: #242426;
  --text-white: #fff;
  --text-footer: #646363;

  --link-color: #7d7d7d;
  --border-color: #e5e5e5;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter",
    sans-serif;
}

label {
  font-weight: 500;
  color: var(--label-text);
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 8px;
}

button {
  padding: 14px;
  border: none;
  font-size: 14px;
  border-radius: 8px;
  color: var(--text-white);
  font-weight: 500;
  background-color: var(--bg-button);
  cursor: pointer;
}


a {
  text-decoration: underline;
  text-decoration-color: #b7b5b5;
  color: var(--link-color);
}


#container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 2rem;
}

.signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 340px;
  gap: 1rem;
  margin-inline: 1rem;
}

.google-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  padding: 12px;
  margin-block: 1.5rem;
  border-radius: 8px;
  position: relative;
}

.google-box img {
  width: 18px;
  position: absolute;
  left: 13px;
}

.google-text {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-gray);
}

.line {
  border-bottom: 1px solid var(--border-color);
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  position: relative;
}

.fa-eye {
  color: #747474;
  position: absolute;
  right: 10px;
  top: 47px;
  cursor: pointer;
}

.sign-up-text {
  font-size: 14px;
  font-weight: 500;
}

footer {
  padding: 20px;
  background-color: var(--bg-footer);
  width: 100%;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  color: var(--text-footer);
}